/* 
/* load local font */
@font-face{
    font-family: 'font digital';
    src: url("fonts/digital-7.ttf")
}
.digital {
    font-family: 'font digital';
}
.text-tengah{
    text-align: center;
}
.text-kiri{
    text-align: left;
}       
.text-kanan{
    text-align: right;
}
.text-rata{
    text-align: justify;
}
.menyala{
    /*ukuran font*/
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.gelap{
    color: darkblue;
    /* ketebalan font*/
    font-weight: bold
}
.button-save{
    /* ubah dekorasi text */
    text-decoration: none;
    background: darkblue;
    color: white;
    padding: 6px 10px;
}
.coret{
    text-decoration: line-through;
}
.text-rendah{
    line-height: 0.8;
    background-color: yellow;
    padding: 4px;
}
.text-tinggi{
    line-height: 1.5;
    background-color: greenyellow;
    padding: 4px;
}
.text-rapat{
    letter-spacing: -2px;
    background-color: orange;
    padding: 4px;
}
.text-longgar{
    letter-spacing: 4px;
    background-color: pink;
    padding: 4px;
}
.text-padat{
    word-spacing: -4px;
    background-color: plum;
    padding: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text-selaw{
    word-spacing: 6px;
    background-color: tomato;
    padding: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}